{
  "openapi": "3.0.1",
  "info": {
    "title": "Sudski registar api - javni",
    "version": "v3.0.4"
  },
  "servers": [
    {
      "url": "https://sudreg-data.gov.hr/api/javni"
    }
  ],  
  "paths": {
    "/postupci": {
      "get": {
        "summary": "Evidencija postupaka nad subjektima",
        "description": "<p>Podatak označava da se subjekt nalazi u nekom od postupaka tip stečaja, likvidacije i sl.</p><p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "postupci_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postupci_array"
                },
                "example": [{
                    "mbs": 0,
                    "postupak": 0,
                    "datum_stecaja": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/postupci_array"
                },
                "example": "<postupci_array><mbs>0</mbs><postupak>0</postupak><datum_stecaja>string</datum_stecaja></postupci_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/tvrtke": {
      "get": {
        "summary": "Evidencija tvrtki (naziva) subjekata",
        "description": "<p>U terminologiji registra, tvrtka predstavlja ime subjekta (ovo ovisi o pravnom obliku, pa se primjerice kod ustanova govori o imenu subjekta umjesto o tvrtki). Naznaka imena predstavlja korijen imena, za npr. ABC društvo s ograničenom odgovornošću za trgovinu, naznaka bi glasila ABC.</p><p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "tvrtke_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tvrtke_array"
                },
                "example": [{
                    "mbs": 0,
                    "ime": "string",
                    "naznaka_imena": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/tvrtke_array"
                },
                "example": "<tvrtke_array><mbs>0</mbs><ime>string</ime><naznaka_imena>string</naznaka_imena></tvrtke_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/skracene_tvrtke": {
      "get": {
        "summary": "Evidencija skraćenih tvrtki subjekata",
        "description": "<p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "skracene_tvrtke_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skracene_tvrtke_array"
                },
                "example": [{
                    "mbs": 0,
                    "ime": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/skracene_tvrtke_array"
                },
                "example": "<skracene_tvrtke_array><mbs>0</mbs><ime>string</ime></skracene_tvrtke_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/prijevodi_tvrtki": {
      "get": {
        "summary": "Evidencija prijevoda tvrtki subjekata",
        "description": "<p>Prirodni primarni ključ je (MBS, PRIJEVOD_TVRTKE_RBR).</p><p>Redni brojevi su zadani poljem PRIJEVOD_TVRTKE_RBR.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "prijevodi_tvrtki_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prijevodi_tvrtki_array"
                },
                "example": [{
                    "mbs": 0,
                    "prijevod_tvrtke_rbr": 0,
                    "ime": "string",
                    "jezik_id": 0
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/prijevodi_tvrtki_array"
                },
                "example": "<prijevodi_tvrtki_array><mbs>0</mbs><prijevod_tvrtke_rbr>0</prijevod_tvrtke_rbr><ime>string</ime><jezik_id>0</jezik_id></prijevodi_tvrtki_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/prijevodi_skracenih_tvrtki": {
      "get": {
        "summary": "Evidencija prijevoda skraćenih tvrtki subjekata",
        "description": "<p>Prirodni primarni ključ je (MBS, PRIJEVOD_SKRACENE_TVRTKE_RBR).</p><p>Redni brojevi su zadani poljem PRIJEVOD_SKRACENE_TVRTKE_RBR.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "prijevodi_skracenih_tvrtki_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prijevodi_skracenih_tvrtki_array"
                },
                "example": [{
                    "mbs": 0,
                    "prijevod_skracene_tvrtke_rbr": 0,
                    "ime": "string",
                    "jezik_id": 0
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/prijevodi_skracenih_tvrtki_array"
                },
                "example": "<prijevodi_skracenih_tvrtki_array><mbs>0</mbs><prijevod_skracene_tvrtke_rbr>0</prijevod_skracene_tvrtke_rbr><ime>string</ime><jezik_id>0</jezik_id></prijevodi_skracenih_tvrtki_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/inozemni_registri": {
      "get": {
        "summary": "Evidencija podataka o inozemnim registrima subjekata (za inozemne podružnice)",
        "description": "<p>Podatci o inozemnom registru se vode samo za podružnice inozemnih osnivača. Sadrže naziv registra osnivača, tijelo pri kojem se nalazi, matični broj u tom registru i druge detalje - vidi opis polja INO_PODRUZNICA u metodi subjekti.</p><p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "inozemni_registri_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inozemni_registri_array"
                },
                "example": [{
                    "mbs": 0,
                    "drzava_id": 0,
                    "naziv_registra": "string",
                    "registarsko_tijelo": "string",
                    "broj_iz_registra": "string",
                    "pravni_oblik": "string",
                    "bris_registar_identifikator": "string",
                    "euid": "string",
                    "bris_pravni_oblik_kod": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/inozemni_registri_array"
                },
                "example": "<inozemni_registri_array><mbs>0</mbs><drzava_id>0</drzava_id><naziv_registra>string</naziv_registra><registarsko_tijelo>string</registarsko_tijelo><broj_iz_registra>string</broj_iz_registra><pravni_oblik>string</pravni_oblik><bris_registar_identifikator>string</bris_registar_identifikator><euid>string</euid><bris_pravni_oblik_kod>string</bris_pravni_oblik_kod></inozemni_registri_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/sjedista": {
      "get": {
        "summary": "Evidencija sjedišta i adresa subjekata",
        "description": "<p>Kod starijih unosa adresa često nije ispravno raspisana po poljima već je cijela unesena u polje za ulicu ili strano naselje. Ovakvi podaci se s vremenom ručno ispravljaju, ali uvijek će ih biti.</p><p>Šifrarnici županija, općina, naselja, ulica i kućnih brojeva nisu uključeni u servis jer su vlasništvo Državne geodetske uprave (DGU) i Ministarstvo pravosuđa i uprave ih nema pravo redistribuirati. Treće strane ih mogu nabaviti direktno od DGU-a. Navedene šifre odgovaraju šiframa u DGU šifrarnicima.</p><p>Polje NASELJE_VAN_SIFRARNIKA se koristi za adrese u inozemstvu, dok se za domaće adrese koriste NAZIV_NASELJA i SIFRA_NASELJA. U pravilu se ne bi istovremeno smjela koristiti i polja sa domaće i polje za strano naselje, no za manji broj subjekata iz povijesnih razloga su upisana oba.</p><p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "sjedista_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sjedista_array"
                },
                "example": [{
                    "mbs": 0,
                    "drzava_id": 0,
                    "sifra_zupanije": 0,
                    "naziv_zupanije": "string",
                    "sifra_opcine": 0,
                    "naziv_opcine": "string",
                    "sifra_naselja": 0,
                    "naziv_naselja": "string",
                    "naselje_van_sifrarnika": "string",
                    "sifra_ulice": 0,
                    "ulica": "string",
                    "kucni_broj": 0,
                    "kucni_podbroj": "string",
                    "postanski_broj": 0
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/sjedista_array"
                },
                "example": "<sjedista_array><mbs>0</mbs><drzava_id>0</drzava_id><sifra_zupanije>0</sifra_zupanije><naziv_zupanije>string</naziv_zupanije><sifra_opcine>0</sifra_opcine><naziv_opcine>string</naziv_opcine><sifra_naselja>0</sifra_naselja><naziv_naselja>string</naziv_naselja><naselje_van_sifrarnika>string</naselje_van_sifrarnika><sifra_ulice>0</sifra_ulice><ulica>string</ulica><kucni_broj>0</kucni_broj><kucni_podbroj>string</kucni_podbroj><postanski_broj>0</postanski_broj></sjedista_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/email_adrese": {
      "get": {
        "summary": "Evidencija e-mail adresa subjekata",
        "description": "<p>Sudski registar ne validira adrese koje subjekti prijave za upis.</p><p>Prirodni primarni ključ je (MBS, EMAIL_ADRESA_RBR).</p><p>Redni brojevi su zadani poljem EMAIL_ADRESA_RBR.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "email_adrese_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/email_adrese_array"
                },
                "example": [{
                    "mbs": 0,
                    "email_adresa_rbr": 0,
                    "adresa": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/email_adrese_array"
                },
                "example": "<email_adrese_array><mbs>0</mbs><email_adresa_rbr>0</email_adresa_rbr><adresa>string</adresa></email_adrese_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/pravni_oblici": {
      "get": {
        "summary": "Evidencija pravnih oblika subjekata",
        "description": "<p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "pravni_oblici_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "expand_relations",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se podaci iz vezanih šifrarnika dodaju u odgovor ili se uključuje samo ID stranog ključa, ako se ne zada vraćaju se samo ID-evi",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/pravni_oblici_array"},
                    {"$ref": "#/components/schemas/pravni_oblici_ex_array"}
                  ]
                },
                "examples": {
					  "unexpanded": {
						"summary": "Odgovor za expand_relations = false",
						"value": [{ 
                      "mbs": 0,
                      "vrsta_pravnog_oblika_id": 0					
						}]
					  },
					  "expanded": {
						"summary": "Odgovor za expand_relations = true",
						"value": [{ 
                      "mbs": 0,
                      "vrsta_pravnog_oblika": {
                        "sifra": 0,
                        "naziv": "string",
                        "kratica": "string"
                      }
						}]
					  }
					}
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/pravni_oblici_array"},
                    {"$ref": "#/components/schemas/pravni_oblici_ex_array"}
                  ]
                },
                "examples": {
					  "unexpanded": {
						"summary": "Odgovor za expand_relations = false",
						"value": "<pravni_oblici_array><mbs>0</mbs><vrsta_pravnog_oblika_id>0</vrsta_pravnog_oblika_id></pravni_oblici_array>"
					  },
					  "expanded": {
						"summary": "Odgovor za expand_relations = true",
						"value": "<pravni_oblici_ex_array><mbs>0</mbs><vrsta_pravnog_oblika><sifra>0</sifra><naziv>string</naziv><kratica>string</kratica></vrsta_pravnog_oblika></pravni_oblici_ex_array>"                    
					  }
					}
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/pretezite_djelatnosti": {
      "get": {
        "summary": "Evidencija pretežitih djelatnosti subjekata",
        "description": "<p>Djelatnosti određena putem Obavijesti o razvrstavanju koju donosi Državni zavod za statistiku. Unosi se prema šifrarniku NKD.</p><p>Prirodni primarni ključ je (MBS).</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "pretezite_djelatnosti_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pretezite_djelatnosti_array"
                },
                "example": [{
                    "mbs": 0,
                    "nacionalna_klasifikacija_djelatnosti_id": 0
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pretezite_djelatnosti_array"
                },
                "example": "<pretezite_djelatnosti_array><mbs>0</mbs><nacionalna_klasifikacija_djelatnosti_id>0</nacionalna_klasifikacija_djelatnosti_id></pretezite_djelatnosti_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/predmeti_poslovanja": {
      "get": {
        "summary": "Evidencija predmeta poslovanja (djelatnosti) subjekata",
        "description": "<p>Od 2020. godine subjekti su dužni upisati samo mali dio djelatnosti čiji upis je propisan nekim od posebnih zakona (npr. bankarske djelatnosti), dok su se ranije upisivale sve djelatnosti koje se sada mogu i ne moraju upisivati kao evidencijske djelatnosti. U početku su se ove djelatnosti unosile prema NKD šifrarniku, a kasnije je omogućen unos slobodnim tekstom jer je šifrarnik bio previše restriktivan. U slučaju da je podatak u istom retku upisan na oba načina, obje vrijednosti su važeće.</p><p>Prirodni primarni ključ je (MBS, DJELATNOST_RBR).</p><p>Redni brojevi su zadani poljem DJELATNOST_RBR.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "predmeti_poslovanja_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "expand_relations",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se podaci iz vezanih šifrarnika dodaju u odgovor ili se uključuje samo ID stranog ključa, ako se ne zada vraćaju se samo ID-evi",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/predmeti_poslovanja_array"},
                    {"$ref": "#/components/schemas/predmeti_poslovanja_ex_array"}
                  ]
                },
                "examples": {
					  "unexpanded": {
						"summary": "Odgovor za expand_relations = false",
						"value": [{ 
                      "mbs": 0,
                      "djelatnost_rbr": 0,
                      "nacionalna_klasifikacija_djelatnosti_id": 0,
                      "djelatnost_tekst": "string"					
						}]
					  },
					  "expanded": {
						"summary": "Odgovor za expand_relations = true",
						"value": [{ 
                      "mbs": 0,
                      "djelatnost_rbr": 0,
                      "nacionalna_klasifikacija_djelatnosti": {
                        "sifra": "string",
                        "puni_naziv": "string",
                        "verzija": "string"
                      },
                      "djelatnost_tekst": "string"
						}]
					  }
					}
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/predmeti_poslovanja_array"},
                    {"$ref": "#/components/schemas/predmeti_poslovanja_ex_array"}
                  ]
                },
                "examples": {
					  "unexpanded": {
						"summary": "Odgovor za expand_relations = false",
						"value": "<predmeti_poslovanja_array><mbs>0</mbs><djelatnost_rbr>0</djelatnost_rbr><nacionalna_klasifikacija_djelatnosti_id>0</nacionalna_klasifikacija_djelatnosti_id><djelatnost_tekst>string</djelatnost_tekst></predmeti_poslovanja_array>"
					  },
					  "expanded": {
						"summary": "Odgovor za expand_relations = true",
						"value": "<predmeti_poslovanja_ex_array><mbs>0</mbs><djelatnost_rbr>0</djelatnost_rbr><nacionalna_klasifikacija_djelatnosti><sifra>string</sifra><puni_naziv>string</puni_naziv><verzija>string</verzija></nacionalna_klasifikacija_djelatnosti><djelatnost_tekst>string</djelatnost_tekst></predmeti_poslovanja_ex_array>"                    
					  }
					}
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/evidencijske_djelatnosti": {
      "get": {
        "summary": "Popis evidencijskih djelatnosti subjekata",
        "description": "<p>Nominalno ovaj podatak ne spada u glavnu knjigu registra i subjekt nije dužan upisati ni jednu evidencijsku djelatnost. Iz povijesnih razloga je dopušten unos i prema šifrarniku NKD i kao slobodni unos. U slučaju da je podatak u istom retku upisan na oba načina, obje vrijednosti su važeće.</p><p>Prirodni primarni ključ je (MBS, DJELATNOST_RBR).</p><p>Redni brojevi su zadani poljem DJELATNOST_RBR.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "evidencijske_djelatnosti_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/evidencijske_djelatnosti_array"
                },
                "example": [{
                    "mbs": 0,
                    "djelatnost_rbr": 0,
                    "nacionalna_klasifikacija_djelatnosti_id": 0,
                    "djelatnost_tekst": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/evidencijske_djelatnosti_array"
                },
                "example": "<evidencijske_djelatnosti_array><mbs>0</mbs><djelatnost_rbr>0</djelatnost_rbr><nacionalna_klasifikacija_djelatnosti_id>0</nacionalna_klasifikacija_djelatnosti_id><djelatnost_tekst>string</djelatnost_tekst></evidencijske_djelatnosti_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/temeljni_kapitali": {
      "get": {
        "summary": "Evidencija temeljnih kapitala subjekata",
        "description": "<p>Prirodni primarni ključ je (MBS, TEMELJNI_KAPITAL_RBR).</p><p>Redni brojevi su zadani poljem TEMELJNI_KAPITAL_RBR.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p><p>Subjekt može istovremeno imati više od jednog kapitala obično zbog različitih valuta. Većina subjekata ima samo jedan kapital.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "temeljni_kapitali_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/temeljni_kapitali_array"
                },
                "example": [{
                    "mbs": 0,
                    "temeljni_kapital_rbr": 0,
                    "valuta_id": 0,
                    "iznos": 0
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/temeljni_kapitali_array"
                },
                "example": "<temeljni_kapitali_array><mbs>0</mbs><temeljni_kapital_rbr>0</temeljni_kapital_rbr><valuta_id>0</valuta_id><iznos>0</iznos></temeljni_kapitali_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/nazivi_podruznica": {
      "get": {
        "summary": "Evidencija naziva podružnica subjekata",
        "description": "<p>Polje POSTUPAK služi sličnoj svrsi kao i podaci u metodi postupci. U slučaju da se radi o glavnoj podružnici inozemnog subjekta ovaj podatak označava postupak stečaja/likvidacije nad subjektom u RH. Druga bitna razlika je u tome što je domena ovdje uža i može poprimiti samo sljedeće vrijednosti: 1 - Nema postupka, 2 - Stečaj, 3 - Likvidacija. Razlog je to što se ime podružnice ne mijenja kod predstečajnih postupaka kao što se mijenja kod stečajeva i likvidacija.</p><p> Polje GLAVNA_PODRUZNICA označava da je u pitanju glavna podružnica inozemnog subjekta i ujedno omogućava povijesno praćenje ovog podatka (jer redni broj glavne podružnice u metodi subjekti nema povijesnost). Kod domaćih subjekata ovo polje je uvijek 0, dok je kod inozemnih subjekata u svakom trenutku točno jedna podružnica označena s 1. U praksi postoji svega nekoliko subjekata kod kojih se glavna podružnica mijenjala i više nije ona s rednim brojem 1.</p><p>Prirodni primarni ključ je (MBS, PODRUZNICA_RBR).</p><p>Redni brojevi osim broja podružnice ne postoje.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "nazivi_podruznica_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nazivi_podruznica_array"
                },
                "example": [{
                    "mbs": 0,
                    "podruznica_rbr": 0,
                    "ime": "string",
                    "naznaka_imena": "string",
                    "postupak": 0,
                    "glavna_podruznica": 0
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/nazivi_podruznica_array"
                },
                "example": "<nazivi_podruznica_array><mbs>0</mbs><podruznica_rbr>0</podruznica_rbr><ime>string</ime><naznaka_imena>string</naznaka_imena><postupak>0</postupak><glavna_podruznica>0</glavna_podruznica></nazivi_podruznica_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/skraceni_nazivi_podruznica": {
      "get": {
        "summary": "Evidencija naziva podružnica subjekata",
        "description": "<p>Prirodni primarni ključ je (MBS, PODRUZNICA_RBR).</p><p>Redni brojevi osim broja podružnice ne postoje.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "skraceni_nazivi_podruznica_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/skraceni_nazivi_podruznica_array"
                },
                "example": [{
                    "mbs": 0,
                    "podruznica_rbr": 0,
                    "ime": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/skraceni_nazivi_podruznica_array"
                },
                "example": "<skraceni_nazivi_podruznica_array><mbs>0</mbs><podruznica_rbr>0</podruznica_rbr><ime>string</ime></skraceni_nazivi_podruznica_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/sjedista_podruznica": {
      "get": {
        "summary": "Evidencija sjedišta i adresa podružnica subjekata",
        "description": "<p>Podružnice mogu imati isključivo domaće adrese, ta tako ne postoje polja za državu ni upis naselja slobodnim unosom.</p><p>U slučaju da se radi o glavnoj podružnici inozemnog subjekta ovaj podatak označava sjedište subjekta registriranog u RH.</p><p>Šifrarnici županija, općina, naselja, ulica i kućnih brojeva nisu uključeni u servis jer su vlasništvo Državne geodetske uprave (DGU) i Ministarstvo pravosuđa i uprave ih nema pravo redistribuirati. Treće strane ih mogu nabaviti direktno od DGU-a. Navedene šifre odgovaraju šiframa u DGU šifrarnicima.</p><p>Prirodni primarni ključ je (MBS, PODRUZNICA_RBR).</p><p>Redni brojevi osim broja podružnice ne postoje.</p><p>Tablica je podređena tablici SUBJEKTI putem stranog ključa na polju MBS.</p>",
        "tags": ["Glavna knjiga"],
        "operationId": "sjedista_podruznica_get",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "(Nije obavezno) Određuje format odgovora, [application/json|application/xml]",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "snapshot_id",
            "in": "query",
            "description": "(Nije obavezno) Zadaje set podataka koji se preuzima, ako se ne zada vraća se najnoviji set",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "(Nije obavezno) Zadaje redni broj (0-based) prvog retka koji se vraća kod paging-a, ako se ne navede vraćaju se podaci od prvog retka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "(Nije obavezno) Zadaje broj redaka (veličinu stranice) kod paging-a, ako se ne navede vraća se 1000 redaka",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "no_data_error",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li zahtjev koji nije pronašao tražene podatke vraća grešku (1) ili prazni objekt (0), ako se ne navede vraća se greška",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "omit_nulls",
            "in": "query",
            "description": "(Nije obavezno) Zadaje da li se prazni (null) ključevi izostavljaju iz vraćenih podataka, ako se ne navede prazni ključevi se izostavljaju",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Snapshot-Id":{
                "description": "Snapshot_id (ID seta) podataka koji se koristi za odgovor",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Timestamp":{
                "description": "Datum i vrijeme kopiranja seta podataka koji se koristi za odgovor",
                "schema": {
                  "type": "string"
                }
              },
              "X-Total-Count":{
                "description": "Ukupni broj redaka u tablici, koristi se za paging",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Seconds-Elapsed":{
                "description": "Vrijeme koje je potrošeno za dohvat podataka, ne uključuje vrijeme prijenosa preko mreže",
                "schema": {
                  "type": "number"
                }
              },
              "X-Rows-Returned":{
                "description": "Broj redaka vraćenih u odgovoru",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Log-Id":{
                "description": "ID log zapisa za odgovor, koristi se u komunikaciji sa službom za korisnike",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sjedista_podruznica_array"
                },
                "example": [{
                    "mbs": 0,
                    "podruznica_rbr": 0,
                    "sifra_zupanije": 0,
                    "naziv_zupanije": "string",
                    "sifra_opcine": 0,
                    "naziv_opcine": "string",
                    "sifra_naselja": 0,
                    "naziv_naselja": "string",
                    "sifra_ulice": 0,
                    "ulica": "string",
                    "kucni_broj": 0,
                    "kucni_podbroj": "string"
                }]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/sjedista_podruznica_array"
                },
                "example": "<sjedista_podruznica_array><mbs>0</mbs><podruznica_rbr>0</podruznica_rbr><sifra_zupanije>0</sifra_zupanije><naziv_zupanije>string</naziv_zupanije><sifra_opcine>0</sifra_opcine><naziv_opcine>string</naziv_opcine><sifra_naselja>0</sifra_naselja><naziv_naselja>string</naziv_naselja><sifra_ulice>0</sifra_ulice><ulica>string</ulica><kucni_broj>0</kucni_broj><kucni_podbroj>string</kucni_podbroj></sjedista_podruznica_array>"
              }
            }
          },
          "400": {
            "description": "Korisnička greška - ulazni parametri nisu ispravno zadani",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
					"error_code":505,
					"error_message":"Vaš zahtjev nije vratio ni jedan redak",
					"log_id":361
                  }
                ]
              }
            }
          },
          "500": {
            "description": "Neočekivana greška - treba kontaktirati službu za korisnike",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": [
                  {
                    "error_code":999,
                    "error_message":"Došlo je do neočekivane greške u radu sustava, obavijestite službu za korisnike.",
                    "log_id":362
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/email_adrese_podruznica": {
      "get": {
[...]
